<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_hand">
    <xacro:arg name="initial_positions_file" default="$(find allegro_hand_plexus_description)/config/initial_positions.yaml" />
    <xacro:arg name="pd_gains_file" default="$(find allegro_hand_plexus_description)/config/pd_gains.yaml" /> 
    <xacro:arg name="ros2_control_hardware_type" default="physical_device" />

    <xacro:arg name="right_prefix" default="ahr_" />
    <xacro:arg name="right_hand_id" default="0" />

    <xacro:arg name="left_prefix" default="ahl_" />
    <xacro:arg name="left_hand_id" default="1" />
    
    <xacro:include filename="$(find allegro_hand_plexus_description)/urdf/allegro_plexus_right.xacro" />
    <xacro:allegro_hand_right prefix="$(arg right_prefix)"/>

    <xacro:include filename="$(find allegro_hand_plexus_description)/urdf/allegro_plexus_left.xacro" />
    <xacro:allegro_hand_left prefix="$(arg left_prefix)"/>

    <link name="dual_hand_base_link" />  
    <joint name="left_hand_base_joint" type="fixed">
        <parent link="dual_hand_base_link"/>
        <child link="ahl_base_link" />
        <origin rpy="0 0 0" xyz="0 -0.17 0" />
    </joint>
    <joint name="right_hand_base_joint" type="fixed">
        <parent link="dual_hand_base_link"/>
        <child link="ahr_base_link" />
        <origin rpy="0 0 0" xyz="0 0.17 0" />
    </joint>
    
    <xacro:include filename="$(find allegro_hand_bringup)/config/plexus/dual_hand/dual_hand.ros2_control.xacro" />
    <xacro:allegro_hand_ros2_control name="AllegroHandPlexusRight" initial_positions_file="$(arg initial_positions_file)" pd_gains_file="$(arg pd_gains_file)" io_interface_descriptor="can:can0" hand_id="$(arg right_hand_id)" prefix="$(arg right_prefix)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/> 

    <xacro:include filename="$(find allegro_hand_bringup)/config/plexus/dual_hand/dual_hand.ros2_control.xacro" />
    <xacro:allegro_hand_ros2_control name="AllegroHandPlexusLeft" initial_positions_file="$(arg initial_positions_file)" pd_gains_file="$(arg pd_gains_file)" io_interface_descriptor="can:can1" hand_id="$(arg left_hand_id)" prefix="$(arg left_prefix)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/> 

</robot>