controller_manager:
  ros__parameters:
    update_rate: 100  # Hz  

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    allegro_hand_imu_broadcaster:
      type: imu_sensor_broadcaster/IMUSensorBroadcaster 

    allegro_hand_position_controller:
      type: forward_command_controller/ForwardCommandController

    allegro_hand_posture_controller:
      type: position_controllers/AllegroHandGraspController

    allegro_hand_grasp_controller:
      type: effort_controllers/AllegroHandGraspController

joint_state_broadcaster:
  ros__parameters:
    extra_joint_state_interfaces:
      - temperature

allegro_hand_imu_broadcaster:
  ros__parameters:
    sensor_name: ah_imu
    frame_id: ah_imu_link

allegro_hand_position_controller:
  ros__parameters:
    joints:
      - ah_joint00
      - ah_joint01
      - ah_joint02
      - ah_joint03
      - ah_joint10
      - ah_joint11
      - ah_joint12
      - ah_joint13
      - ah_joint20
      - ah_joint21
      - ah_joint22
      - ah_joint23
      - ah_joint30
      - ah_joint31
      - ah_joint32
      - ah_joint33
      
    interface_name: position

allegro_hand_posture_controller:
  ros__parameters:
    goal_tolerance : 0.01
    allow_stalling : True 
    stall_timeout : 0.5
    stall_velocity_threshold : 0.01
    joints:
      - ah_joint00
      - ah_joint01
      - ah_joint02
      - ah_joint03
      - ah_joint10
      - ah_joint11
      - ah_joint12
      - ah_joint13
      - ah_joint20
      - ah_joint21
      - ah_joint22
      - ah_joint23
      - ah_joint30
      - ah_joint31
      - ah_joint32
      - ah_joint33

allegro_hand_grasp_controller:
  ros__parameters:
    device : "v4"
    goal_tolerance : 0.01
    allow_stalling : True 
    stall_timeout : 0.5
    stall_velocity_threshold : 0.01
    joints:
      - ah_joint00
      - ah_joint01
      - ah_joint02
      - ah_joint03
      - ah_joint10
      - ah_joint11
      - ah_joint12
      - ah_joint13
      - ah_joint20
      - ah_joint21
      - ah_joint22
      - ah_joint23
      - ah_joint30
      - ah_joint31
      - ah_joint32
      - ah_joint33
    grasp_reference_frame: ah_palm_link
    fingertips:
      - ah_link_04 
      - ah_link_14
      - ah_link_24
      - ah_link_34